<!DOCTYPE html>
<html>
  <head>
  
    <title>Todo2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/ >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
  <div class="header-logo">
      <%= link_to "人生の目標", "/" %>
  </div>
  <ul class = "header-menus">
    <li>
      <%= link_to "トップへ", "/" %>
    </li>
    <li>
      <%= link_to "後悔しない生き方とは","/about" %>
    </li>
    <li>
      <%= link_to "今日までに", posts_path %>
    </li>
    <li>
      <%= link_to "理想の暮らし",writes_path %>
    </li>

  </ul>
</header>
    <%= yield %>
  </body>
</html>
